.nav{
  height: 8em;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, #006699 , #008040);
}

.header {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
}